.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.db
.ipynb_checkpoints
data/
outputs/
logs/
.env
.venv
venv/
node_modules/
.dockerignore
Dockerfile
docker-compose.yml
conda_env/
mamba_env/
Miniforge3-*.sh
