# ControlNet
diffusers==0.27.2
huggingface-hub==0.25.1
transformers==4.38
einops==0.8.1
scipy
accelerate
kornia

# geometry
open3d

# viz
matplotlib
gradio==5.0.1
pydantic==2.10.6

loguru==0.7.2
rembg==2.0.52
